.acc-container {
    padding: 79px 76px 0 76px;
}

.acc-container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
}

#acc-container__header--title {
    /* Heading/H4 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    /* identical to box height, or 41px */
    letter-spacing: 0.25px;
    /* Black and White/Black */
    color: #000000;
    margin: 0;
}

#acc-container__header--link {
    display: flex;
    gap: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 173% */
    letter-spacing: 0.46px;
    text-transform: uppercase;
    text-decoration: none;
    /* Mint/Mint-400 */
    color: #40E0D0;
}

.acc-container__card {
    width: 419.75px;
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.acc-container__card--loading {
    width: 419.75px;
    height: 412px;
    border-radius: 12px;
    color: transparent;
    background: linear-gradient(100deg, #d6d8da 30%, #f6f7f8 50%, #d6d8da 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
}

#acc-container__card--title {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    padding-top: 20px;
    /* identical to box height, or 24px */
    letter-spacing: 0.25px;
    /* Black and White/Black */
    color: #000000;
}

#acc-container__card--subtitle {
    margin: 0;
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    letter-spacing: 0.25px;
    /* Gray/Gray-300 */
    color: #ADADAD;
}

#acc-container__card--price {
    margin: 0;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    letter-spacing: 0.25px;
    /* Teal/Teal-800 */
    color: #1A3440;
}

#acc-container__card--image {
    cursor: pointer;
    width: 100%;
    height: 266px;
    border-radius: 12px;
    transition: all 0.5s;
}

#acc-container__card--image:hover {
    transform: scale(1.02);
}

.acc-container__card--rating {
    margin: 0;
    padding-top: 13px;
}

#acc-container__card--star {
    margin: 0;
    padding-right: 6px;
}

.acc-container__body {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}