.locations-container {
    padding: 32px 90px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

#locations-container--title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    /* identical to box height, or 41px */
    letter-spacing: 0.25px;
    /* Black and White/Black */
    color: #000000;
}

.locations-container__body {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.locations-container__card {
    width: 412.75px;
    height: 295px;
    cursor: pointer;
}

.locations-container__card:nth-child(-n+2) {
    width: 412.75px;
}