.locations-container {
    padding: 32px 90px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

#locations-container--title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    /* identical to box height, or 41px */
    letter-spacing: 0.25px;
    /* Black and White/Black */
    color: #000000;
}

.locations-container__body {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.locations-container__card {
    width: 412.75px;
    height: 295px;
    cursor: pointer;
    transition: all 0.5s;
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.locations-container__card--loading {
    width: 412.75px;
    height: 295px;
    border-radius: 12px;
    color: transparent;
    background: linear-gradient(100deg, #d6d8da 30%, #f6f7f8 50%, #d6d8da 70%);
    background-size: 400%;
    animation: loading 1s ease-in-out infinite;
}

.locations-container__card:hover {
    transform: scale(1.02)
}

.locations-container__card:nth-child(-n+2) {
    width: 412.75px;
}