.main-layout {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* .main-layout__body {} */

.main-layout__nav {
    min-height: 50px;
}

.main-layout__footer {
    min-height: 50px;
}